
body{
background-color: #001a44;
font-size: 60px;
color: white;

}
span {
  content: "\2193";
}
p{  font-size:20px;
   font-family: Cursive;
   text-indent:50px;}
h6 {font-size: 20px;
    font-family: Cursive;
	}
   
ul{ list-style-type: none;}

li{  display: inline;
      border: solid 2px #404449;
	  font-family: Cursive, Sans-serif;
	  color: #ffffff;
	  padding:5px;
	  border-radius: 5px 5px;
      background-color: #24395b;
	  text-decoration:none;}
 
a:link { text-decoration: none;
	  color: #ffffff;}
	  
a:hover {color: #000000;
	font-weight: bold;
   text-decoration:none;}
 a:visited{color: #6e9be5;}
   
   
   table {
    border-collapse: collapse;
   width:500px;}
	th{height: 20px;}


table,th, td {
    border: 1px solid black;
}

   
  div{margin:auto;
     }
	       #right {text-align: right; 
	       width: 45%;
		   float: right;} 

		   #content{display:inline;}
		   #picture {display:inline;}  
		   #banner {position:relative; margin: auto;}  
		   #video {margin: auto;
		   border: solid 2px #dee2e8;
   outline-style:double;
   outline-color: #4f6fa3;
   border-radius: 20px;
    padding: 20px;
	background-color:#5f6672;
	width:600px;}
   #footer {border: solid 2px #dee2e8;
	         border-radius: 20px ;
			 padding: 10px;
			 margin-bottom: 0px;}
			
	
	#aboutme{display:inline;}
	#text{
	width:1200px; text-align:left; margin-right:800px;}	
	#profpic { margin-left:600px;
	padding: 10px;}
	#infome{display:inline;}
	#pantomime img{height: 200px;
	                width:300px;}
	#newcircus img{height: 200px;
	                width:300px;}
		#other	img{height: 200px;
	                width:300px;}
#calendar {color:#969696;}
#home
#container 
  #header
  #menu

   
     
   
   
